.landing-container{
    min-height: 100vh;
    background: url("../assets/images/bg-img1.jpg ");
    background-attachment: scroll;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    margin: 0px;
    padding: 260px 0px 260px 0px;
}
.bgimageText{
    color:#ffffff;
    width: 400px;
    margin: 0 auto;
}
.aboutContainer{
    background-color: #D2D2D2;
    padding: 0;
    height: 100%;
    overflow: scroll;
}
.headerfixed{
    position: fixed;
    top:0;
    z-index: 10;
    width:100%;
    background-color: #ffffff;
}
#scroll-top, #scroll-down{
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #35a5b0;
    position: fixed;
    right: 20px;
    bottom: 12px;
    font-size: 40px;
    color: #ffffff;
    z-index: 300;
    text-align: center;
    transition: all 0.1s linear;
}
.nav-container{
    height: 54px;
}
.nav-title{
    padding: 10px;
    font-size: 24px;
    position: relative;
}
.profile-pic-mini{
    height: 50px;
    width: 50px;
    border-radius: 82px;
    position: absolute;
    top: 3px;
    margin-left: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}
.nav-container{
    color:#359ba7;
    font-family: sans-serif;
    font-weight: normal;
    box-shadow: 0px -9px 80px -6px rgba(0,0,0,0.8);
}
.nav-contents{
    float: right;
    font-size: 18px;
    height: 100%;
}
.white-bg{
    background-color: #f3f3f3;
    padding-top: 54px;
    color:#606060;
}
.green-bg{
    background-image: linear-gradient(to right, #35a5b0, #276db4 99%, #276db4) !important;
    padding-top: 54px;
    color:#ffffff;
}
.inner-portfolio{
    width: 900px;
    margin: 0 auto;
}
.each-section{
    padding-bottom: 50px;
}
#about-container{
    font-size: 16px;
}
#about-container h2,#education-container h2{
    margin-bottom: 50px;
    color: #359ba7 !important;
}

#experience-container{
    padding-bottom: 80px;
}
#experience-container .exp-year{
    font-family: roboto sans-serif;
    margin-bottom: 80px;
}
.experience-item{
    text-align: center;
}
.experience-line{
    height: 6px;
    background: white;
    border-radius: 10px;
}
.exp-logo-section{
    position: absolute;
    top: 69px;
    width: 100%;
    margin-left: 1px !important;
}
.exp-icon{
    width: 100px;
    height: 100px;
}

#myCarouselAcademic{
    padding: 40px;
    border: 1px solid #ddd;`
}
.carousel-control{
    background-color: #35a5b0;
}
.edu-item{
    width:420px;
    margin: 0 auto;
    text-align: center;
}
.edu-logo{
    height: 200px;
    width: 200px;
}

#skill-container h2{
    margin-bottom: 50px;
}
.progress {
    height: 35px;
}
.progress .skill{
    font: normal 12px "Open Sans Web";
    line-height: 35px;
    padding: 0;
    margin: 0 0 0 20px;
    text-transform: uppercase;
    color: #606060;
}
.progress .skill .val {
    float: right;
    font-style: normal;
    margin: 0 20px 0 0;
}
.progress-bar {
    text-align: left;
    transition-duration: 3s;
    background-color: #757575;
    color:#ffffff;
}

.contact-left, .contact-right{
    display: inline-block;
    padding: 12px;
}
.contact-right{
    border-left: 2px solid #aaa;
}
.contact-left h2{
    color: #359ba7 !important;
    margin-bottom: 40px;
}
.contact-content{
    margin-top: 20px;
}
.social-networks{
    margin-top: 40px !important;
}
.social-icon{
    font-size:36px;
    padding:12px;
    cursor: pointer;
}
.contact-right{
    padding: 40px;
}
.submit-contact{
    background-color: #359ba7;
    color: #ffffff;
    font-size: 20px;
    width: 200px;
}
.hide{
     display: none !important;
}

/*------Media queries------*/
@media screen and (min-width: 320px) and (max-width : 480px){
    .landing-container{
        background-image: linear-gradient(to right, #35a5b0, #276db4 99%, #276db4) !important;
        min-height: inherit;
        padding: 12px;
        margin-top: 40px;
    }
    .bgimageText{
        color: #ffffff;
        text-align: center;
        width: 100%;
    }
    .profile-pic-mini{
        height: 250px;
        width: 250px;
        position: static;
        border-radius: 50%;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
    }
    .inner-portfolio{
        width: 100%;
        padding:0px 24px;
    }
    .contact-right{
        border-left: none;
    }
    .edu-item{
        max-width: 250px;
    }
    .mobile-experience{
        margin-bottom: 20px;
        margin-top: 30px;
    }
    #menuIcon{
        z-index: 100;
        position: relative;
        top: 6px;
        margin-bottom: 10px;
        font-size: 20px;
        cursor: pointer;
        position: fixed;
    }
    .smallNavContainer{
        z-index: 100;
        background-color: white;
        position: fixed;
        top: 30px;
        height: 100vh;
    }
    .smallMenuList li{
        border-bottom: 1px solid #E6E1E1;
        color: gray;
        font-size: 16px;
        font-family: sans-serif;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 20px;
        padding-top: 20px;
        font-family: sans-serif;
        cursor: pointer;
        width: 100%
    }
    .exp-logo-section{
        top:49px;
    }
}
